html
	head
		title 忍者コーダー

		meta(name="viewport", content="width=device-width")
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

	body(bgcolor="#FFFFFF", topmargin="0", leftmargin="0", marginheight="0", marginwidth="0")
		#email-temp
			table(class="demo")
				tr
					td
					td
						h3 Explore this week on 忍者コーダー
						p You are recieving this because you have subscribed
					td

			table(class="head-wrap", bgcolor="#446382")
				tr
					td
					td(class="header container", align="")
						div(class="content")
							table(bgcolor="#446382")
								tr
									td
										img(src="http://res.cloudinary.com/codejitsu/image/upload/v1436193413/logo_wc2dyj.png")
									td
										h3(id="logoTitle") 忍者コーダー
									td(align="right")
										h6(class="collapse", class="grey-color") NEWSLETTER
					td

			<!-- BODY -->
			table(class="body-wrap", bgcolor="")
				tr
					td
					td(class="container", align="", bgcolor="#FFFFFF")

						<!-- content -->
						div(class="content")
							table
								tr
									td
										h1 Popular posts this week
										h3= hot_posts[0].title
										p
											img(src="http://res.cloudinary.com/codejitsu/image/upload/v1436193764/Posts_full/default/960x540.jpg")
										p= hot_posts[0].title


						- for(var i=1 ; i< hot_posts.length ; i++) {
							div(class="content")
								table(bgcolor="")
									tr
										td(class="small", width="20%", style="vertical-align: top; padding-right:10px;")
											img(src="http://res.cloudinary.com/codejitsu/image/upload/v1436193834/Posts_short/default/300x150.jpg")
										td
											h4= hot_posts[i].title
												small= hot_posts[i].author_name
											p(class="")= hot_posts[i].title
											a(class="btn", href="/post/"+hot_posts[i].title) Read More &raquo;

						- };

						<!-- content -->
						div(class="content")
							table(bgcolor="")
								tr
									td
										p(class="callout")
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
											a(href="#") Do it Now! &raquo;


						<!-- content -->
						div(class="content")
							table(bgcolor="")
								tr
									td
										<!-- social & contact -->
										table(bgcolor="", class="social", width="100%")
											tr
												td
													table(bgcolor="", class="social", width="100%")
														tr
															td
																div(class="column")
																	table(bgcolor="", cellpadding="", align="left")
																		tr
																			td
																				h5 Connect with Us:
																				p(class="")
																					a(href="#", class="soc-btn fb") Facebook
																					a(href="#", class="soc-btn tw") Twitter
																					a(href="#", class="soc-btn gp") Google+

																div
																	div(class="column")
																		table(bgcolor="", cellpadding="", align="left")
																			tr
																				td
																					h5(class="") Contact Info:
																					p Phone : 
																						strong 0820-213213
																					
																					a(href="emailto:ravishetty150@gmail.com") ravishetty150@gmail.com


																div(class="clear")


			<!-- FOOTER -->
			table(class="footer-wrap")
				tr
					td
					td(class="container")
						<!-- content -->
						div(class="content")
							table
								tr
									td(align="center")
										p(class="footer-links")
											a(href="#") HOME
											a(href="#") ABOUT
											a(href="#") CONTACT
											a(href="#") 
												unsubscribe UNSUBSCRIBE
								tr
									td(align="center")
										p(class="copyright") © 2015  忍者コーダー limited. Trademarks and brands are the property of their respective.