html
	head
		title Code Like Ninja

		meta(name="viewport", content="width=device-width")
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

		link(href='http://fonts.googleapis.com/css?family=Oswald:700', rel='stylesheet', type='text/css')
		link(rel="stylesheet", type="text/css", href="/css/newsletter.css")

	body(bgcolor="#FFFFFF", topmargin="0", leftmargin="0", marginheight="0", marginwidth="0")
		table(class="demo")
			tr
				td
				td
					h4 Explore this week on Code Like Ninja
					p You are recieving this because you have subscribed
				td

		table(class="head-wrap", bgcolor="#5682A3")
			tr
				td
				td(class="header container", align="")
					div(class="content")
						table(bgcolor="#5682A3")
							tr
								td
									img(src="http://res.cloudinary.com/codejitsu/image/upload/v1436193413/logo_wc2dyj.png")
								td
									h2(id="logoTitle") Code Like Ninja
								td(align="right")
									h6(class="collapse", class="grey-color") NEWSLETTER
				td

		<!-- BODY -->
		table(class="body-wrap", bgcolor="")
			tr
				td
				td(class="container", align="", bgcolor="#FFFFFF")

					<!-- content -->
					div(class="content")
						table
							tr
								td
									h2 Popular posts this week
									h4= hot_posts[0].title
									p
										img(src="http://res.cloudinary.com/codejitsu/image/upload/v1436193764/Posts_full/default/960x540.jpg")
									p= hot_posts[0].desc_short


					- for(var i=1 ; i< hot_posts.length ; i++) {
						<!-- content -->
						div(class="content")
							table(bgcolor="")
								tr
									td(class="small", width="30%", style="vertical-align: top; padding-right:10px;")
										img(src="http://res.cloudinary.com/codejitsu/image/upload/v1436193834/Posts_short/default/300x150.jpg")
									td
										h6= hot_posts[i].title
											small= hot_posts[i].author_name
										p(class="")= hot_posts[i].desc_short
										a(class="btn", href="/post/"+hot_posts[i].title) Read More &raquo;

					- };

					<!-- content -->
					div(class="content")
						table(bgcolor="")
							tr
								td
									p(class="callout")
										| Check out more awesome articles on Code Like Ninja
										|  
										|  
										a(href="/") Lets Go! &raquo;


					<!-- content -->
					div(class="content")
						table(bgcolor="")
							tr
								td
									<!-- social & contact -->
									table(bgcolor="", class="social", width="100%")
										tr
											td
												table(bgcolor="", class="social", width="100%")
													tr
														td
															div(class="column")
																table(bgcolor="", cellpadding="", align="left")
																	tr
																		td
																			h5 Connect with Us:
																			p(class="")
																				a(href="https://www.facebook.com/pages/Code-Like-Ninja/849805705099929",target="_blank", class="soc-btn fb") Facebook
																				a(href="https://twitter.com/codelikeninja",target="_blank", class="soc-btn tw") Twitter
																				a(href="https://plus.google.com/b/115333740549284826302/115333740549284826302/",target="_blank", class="soc-btn gp") Google+

															div
																div(class="column")
																	table(bgcolor="", cellpadding="", align="left")
																		tr
																			td
																				h5(class="") Contact Info:
																				p Phone : 
																					strong 0820-213213
																				
																				a(href="emailto:ravishetty150@gmail.com") ravishetty150@gmail.com


															div(class="clear")


		<!-- FOOTER -->
		table(class="footer-wrap")
			tr
				td
				td(class="container")
					<!-- content -->
					div(class="content")
						table
							tr
								td(align="center")
									p(class="footer-links")
										a(href="/") HOME
										a(href="/home/about") ABOUT
										a(href="/home/contact_us") CONTACT
										a(href="/verify/unsubscribe") 
											unsubscribe UNSUBSCRIBE
							tr
								td(align="center")
									p(class="copyright") © 2015  Code Like Ninja limited. Trademarks and brands are the property of their respective.