extends layout

block content
  .row
    div(class="col-md-9 col-sm-12 col-xs-12 main-container")
      ul(class="flex-container")
        article(class="flex-item col-md-12")
              h2.main-titles About

              .about-body.col-md-12
                p 
                  |  Code Like Ninja was started in 2015 by two passionate developers  Walter and Punk.
                  |  Its a website for publishing articles on various topics and tutorials on development 
                  |  technolgies. The aim of Code Like Ninja is to bring you cool, easy to learn tutorials and 
                  |  tips for you, which could be helpful for your career or can be learnt as a hobby.

                p
                  |  We are always looking for people who have creative minds and passion for computer science 
                  |  to join us, write for us. Those who are intrested and would like to become part of Code 
                  |  Like Ninja, please 
                  a(href="/home/contact_us") contact us! 
                p Become a Ninja   

                p
                  | Stay up to date with the latest by following us on 
                  a(href="#") Twitter
                  |  or subscribe to our weekly newsletter.

        article(class="flex-item col-md-12")      
              h2(class="main-titles about-head") Editors
              
              - for(var i=0 ; i< editors.length ; i++) {    
                .about-body.col-md-12
                  h3(class="dev-name")= editors[i].name
                  .dev-pic.col-md-4
                    object(class="circleProfile", data="http://res.cloudinary.com/codejitsu/image/upload/Editors/" + editors[i].name + ".jpg")
                      img(class="circleProfile", src="http://gsm24unlock.com/images/no_image.gif")
                  .about-content.col-md-8
                    p= editors[i].description

                    a(class="twitter-follow-button" ,data-size="large", data-show-count="false", data-show-screen-name="false", href= editors[i].social.twitter) Follow

              - };        

        article(class="flex-item col-md-12")
              h2(class="main-titles about-head") Developers
                  
              .about-body.col-md-12
                h3(class="dev-name") Walter White
                .dev-pic.col-md-4
                  object(class="circleProfile", data="http://res.cloudinary.com/codejitsu/image/upload/Devs/Suraj.jpg", type="image/png")
                      img(class="circleProfile", src="http://gsm24unlock.com/images/no_image.gif")
                .about-content.col-md-8
                    h4 Co-founder/Developer
                    p 
                      | Walter White is a student of NMAM Institue of Technology and also a freelance web 
                      | developer & designer. He is the co-founder of Code Like Ninja.
                    a(class="twitter-follow-button" ,data-size="large", data-show-count="false", data-show-screen-name="false", href="http://twitter.com/codelikeninja") Follow
                    a(style="margin-left:10px;")
                      a(class="github-button", href="https://github.com/twitter", data-style="mega", aria-label="Follow @twitter on GitHub") Follow           
              
              .about-body.col-md-12
                h3(class="dev-name") C.M Punk
                .dev-pic.col-md-4
                  object(class="circleProfile", data="http://res.cloudinary.com/codejitsu/image/upload/Devs/Deekshith.jpg", type="image/png")
                      img(class="circleProfile", src="http://gsm24unlock.com/images/no_image.gif")
                .about-content.col-md-8
                  h4 Co-founder/Developer
                  p 
                    | C.M Punk is a student of NMAM Institue of Technology and also a freelance web 
                    | developer & designer. He is the co-founder of Code Like Ninja.
                    | I am WWE fan, Game of thrones junkie and a techie.
                  a(class="twitter-follow-button" ,data-size="large", data-show-count="false", data-show-screen-name="false", href="http://twitter.com/codelikeninja") Follow
                  a(style="margin-left:10px;")
                    a(class="github-button", href="https://github.com/ntkme", data-style="mega", aria-label="Follow @ntkme on GitHub") Follow 

            script(async, defer, id="github-bjs", src="https://buttons.github.io/buttons.js")             
    
    include ./widgets
    //div(class="secondary col-md-4 col-sm-12 col-xs-12 aside-container")
      .connect
        .heading
          h4 Connect With Us
        .social-ico
          ul(class="list-inline")
            li
              a(href="https://twitter.com/codelikeninja", class="social-link", target="_blank")
                img(src="/img/twitter.png")
            li
              a(href="https://plus.google.com/b/115333740549284826302/115333740549284826302/", class="social-link", target="_blank")
                img(src="/img/google.png")
            li
              a(href="https://www.facebook.com/pages/Code-Like-Ninja/849805705099929", class="social-link", target="_blank")
                img(src="/img/facebook.png")
            li
              a(href="https://in.pinterest.com/codelikeninja/", class="social-link", target="_blank")
                img(src="/img/pinterest.png")

        .subscribe
          div(class="section-inner text-center")  
            h5 Subscribe - We dont spam
              div(class="form-group email-box",id="sub_box")
                form(action='/contact', name='contactus', id='contactus', method='post')
                  input(type=text, class="form-control email", id="sub_email" , name="sub_email", placeholder="Email", onchange="checkEmail()")
                  input(type="submit", class="mycustom-btn2", value="Subscribe", id="subM")

                div(class="alert alert-danger col-md-8 col-sm-12 col-xs-12 incorrect-alert-box", id = "email-alert2")
                    p Invalid Email-id 

                script.
                  function checkEmail(){
                    var sub_email = document.getElementById("sub_email").value;
                    var p = sub_email.search(/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/);

                    if(p == -1){
                      document.getElementById("email-alert2").style.display = "block";
                      document.getElementById("sub_email").value="";
                      document.getElementById("sub_email").focus();
                      document.getElementById("sub_email").select();

                      return false;
                    }else{
                      document.getElementById("email-alert2").style.display = "none";
                      return true;
                    }
                  }
        script.
          $("#subM").click(function (event) {
            event.preventDefault();
            if (checkEmail() == true){ 
              var searchIDs = $('#sub_email').val();
              console.log("selected::::" + searchIDs);
              $('#sub_box').html('<p>Please Wait</p>');
              $.ajax({
                 url:'/contact',type:'post',
                 data:{sub_email:searchIDs},
                 success:function(response){
                    console.log("Done ajax .. "+response);
                    $('#sub_box').html('<p>Thanks for signing up!</p>');
                }
              });
            }  
          });  
              
      .category
        .heading
          h4 Category
        .list
          ul(class="categories")
            - for(var i=0 ; i< categories.length ; i++) {
                ul(class="list-inline")
                  li
                    a(href="/categories/" + categories[i]._id + "/1", class="cat-list")= categories[i]._id
                  li(class="tag-count")= categories[i].count  
            - };         
              
      .tagbox
        .heading
          h4 Tags
        .tags
          ul(class="tags")
            - for(var i=0 ; i< tags.length ; i++) {
                ul(class="list-inline")
                  li
                    a(href="/tags/" + tags[i]._id + "/1", class="tag")= tags[i]._id
                  li(class="tag-count")= tags[i].count   
            - };

      .hotPostsbox
        .heading
          h4 Hot posts
        .hotPosts
          - for(var i=0 ; i< hot_posts.length ; i++) {
              ul(class="hot_links")
                li
                  span ↠
                  a(href="/post/" + hot_posts[i].title, class="hot-post-links")= hot_posts[i].title + " is the best in the world"
          - };          
