extends layout

block content
  .row
    div(class="col-md-8 col-sm-12 col-xs-12 main-container")
      ul(class="flex-container")
        article(class="flex-item col-md-12")
              h2.main-titles About 忍者コーダー

              .about-body.col-md-12
                p 
                  | 忍者コーダー was started in 2004 by the almighty online procrastinator Scrivs.
                  |  The aim of 忍者コーダー is to bring you cool, less mainstream, geeky news. 
                  |  If it’s cool and Gizmodo or Endgadget don’t have it, this is where you’ll find it.
                  |  忍者コーダー was started in 2004 by the almighty online procrastinator Scrivs.
                  |  The aim of 忍者コーダー is to bring you cool, less mainstream, geeky news. 
                  |  If it’s cool and Gizmodo or Endgadget don’t have it, this is where you’ll find it.


        article(class="flex-item col-md-12")      
              h2(class="main-titles about-head") Editors
              
              - for(var i=0 ; i< editors.length ; i++) {    
                .about-body.col-md-12
                  h3(class="dev-name")= editors[i].name
                  .dev-pic.col-md-4
                    object(data="/img/editors/" + editors[i].name + ".jpg", type="image/png")
                      img(src="http://gsm24unlock.com/images/no_image.gif")
                  .about-content.col-md-8
                    p= editors[i].description

                    a(class="twitter-follow-button" ,data-size="large", data-show-count="false", data-show-screen-name="false", href= editors[i].social.twitter) Follow

              - };        

        article(class="flex-item col-md-12")
              h2(class="main-titles about-head") Developers
                  
              .developer-body
                h3(class="dev-name") Suraj B.K
                .dev-pic
                  img(src="/img/devs/Suraj.jpg")
                h5 Co-founder/Developer
                h5 Follow 
                  a(href="#") @suraj
              
              .developer-body
                h3(class="dev-name") Deekshith
                .dev-pic
                  img(src="/img/devs/Deekshith.jpg")
                h5 Co-founder/Developer
                h5 Follow 
                  a(href="#") @deekshith   
    

    div(class="secondary col-md-4 col-sm-12 col-xs-12 aside-container")
      .connect
        .heading
          h4 Connect With Us
        .social-ico
          ul(class="list-inline")
            li
              img(src="/img/twitter.png")
            li
              img(src="/img/google.png")
            li
              img(src="/img/git.png")
            li
              img(src="/img/facebook.png")
            li
              img(src="/img/lin.png")
            li
              img(src="/img/em.png")

        .subscribe
          div(class="section-inner text-center")  
            h5 Subscribe - We dont spam
              div(class="form-group email-box")
                form(action='/contact', name='contactus', id='contactus', method='post')
                  input(type=text, class="form-control email", id="sub_email" , name="sub_email", placeholder="Email", onchange="checkEmail()")
                  input(type="submit", class="mycustom-btn2", value="Subscribe")

                div(class="alert alert-danger col-md-8 col-sm-12 col-xs-12 incorrect-alert-box", id = "email-alert2")
                    p Invalid Email-id 

                script.
                  function checkEmail(){
                    var sub_email = document.getElementById("sub_email").value;
                    var p = sub_email.search(/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/);

                    if(p == -1){
                      document.getElementById("email-alert2").style.display = "block";
                      document.getElementById("sub_email").value="";
                      document.getElementById("sub_email").focus();
                      document.getElementById("sub_email").select();

                      return false;
                    }else{
                      document.getElementById("email-alert2").style.display = "none";
                      return true;
                    }
                  }   
              
      .category
        .heading
          h4 Category
        .list
          ul(class="categories")
            - for(var i=0 ; i< categories.length ; i++) {
                ul(class="list-inline")
                  li
                    a(href="/categories/" + categories[i]._id + "/1", class="cat-list")= categories[i]._id
                  li(class="tag-count")= categories[i].count  
            - };         
              
      .tagbox
        .heading
          h4 Tags
        .tags
          ul(class="tags")
            - for(var i=0 ; i< tags.length ; i++) {
                ul(class="list-inline")
                  li
                    a(href="/tags/" + tags[i]._id + "/1", class="tag")= tags[i]._id
                  li(class="tag-count")= tags[i].count   
            - };

      .hotPostsbox
        .heading
          h4 Hot posts
        .hotPosts
          - for(var i=0 ; i< hot_posts.length ; i++) {
              ul(class="hot_links")
                li
                  span ↠
                  a(href="/post/" + hot_posts[i].title, class="hot-post-links")= hot_posts[i].title + " is the best in the world"
          - };          
