extends layout
block content
  .row

    div(class="col-md-9 col-sm-12 col-xs-12 main-container")

      div(class="col-md-12 col-sm-12 col-xs-12 main-container")
        ul(class="flex-container")
          div(class="alert alert-info col-md-9 col-sm-12 col-xs-12 alert-box", id="search-alert-box")
            a(href="#", class="close", data-dismiss="alert", aria-label="close") &times;
            p The results for your search with keyword "#{search_query}" 

          script.
            if(!{search} == true)
              document.getElementById("search-alert-box").style.display = "block";

          div(class="alert alert-info col-md-9 col-sm-12 col-xs-12 alert-box", id="tag_search-alert-box")
            a(href="#", class="close", data-dismiss="alert", aria-label="close") &times;
            p(id="result-text") The results for the tag - "#{tag_query}" 

          script.
            if(!{tag_search} == true)
              document.getElementById("tag_search-alert-box").style.display = "block";

          div(class="alert alert-info col-md-9 col-sm-12 col-xs-12 alert-box", id="cat_search-alert-box")
            a(href="#", class="close", data-dismiss="alert", aria-label="close") &times;
            p The results for the category - "#{cat_query}" 

          script.
            if(!{cat_search} == true)
              document.getElementById("cat_search-alert-box").style.display = "block";

          div(class="alert alert-info col-md-9 col-sm-12 col-xs-12 alert-box", id="email-alert-box")
            a(href="#", class="close", data-dismiss="alert", aria-label="close") &times;
            p A Confirmation email has been sent. Please verify!

          script.
            if(!{email_sent} == true)
              document.getElementById("email-alert-box").style.display = "block";
      ul(class="masonry")
        - for(var i=0 ; i< posts.length ; i++) {
            .items
              script.
                //$(".social-container div.social-sharing a").each( function() {
                  //var perma = this.href.replace(/\s/g,'_');
                  this.href = this.href.replace(/\s/g,'');
                });       
                                     
              .post-body
                .pic
                  object(data="http://res.cloudinary.com/codejitsu/image/upload/Posts_short/"+ posts[i].title +"/post_short.png", type="image/png")
                      img(src="/img/posts_full/default/960x540.jpg")
                .post-rem
                  a(class="post-title-link" href="/post/"+posts[i].title)
                    h3(class="post-title")= posts[i].title
                  .sub-info
                    img(src="/img/comments.png")
                    span(class="disqus-comment-count", data-disqus-url="http://codelikeninja.ml/post/" + posts[i].title + "#disqus_thread") 0 Comments
                    img(src="/img/clock.png" class="side-icons")
                    span(class="disqus-comment-count", data-disqus-url="http://codelikeninja.ml/post/" + posts[i].title + "#disqus_thread")= posts[i].date
                  .sub-info
                    p(class="author-info") In 
                      a(href="#") #{posts[i].category}
                    p(class="author-info") &nbspby 
                      a(href="#") #{posts[i].author_name}

                  script.
                    var disqus_shortname = 'codelikeninja';
                    (function () {
                      var s = document.createElement('script'); s.async = true;
                      s.type = 'text/javascript';
                      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                    }());

                  .social-container
                    div(class="social-sharing", data-permalink="http://labs.carsonshold.com/social-sharing-buttons")
                      script.
                        var post_link = posts[i].title.
                      //a 57k

                      a(target="_blank", href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fcodelikeninja.ml%2Fpost%2F" + encodeURIComponent(posts[i].title) + "&hashtags=" + posts[i].tags[0] + "," + posts[i].tags[1] + "&text=Check%20this%20out- " + posts[i].title + "&via=codelikeninja", class="share-twitter")
                        span(class="icon icon-twitter" aria-hidden="true")
                        span(class="share-title") Tweet

                      a(target="_blank", href="http://www.facebook.com/sharer.php?u=http://codelikeninja.ml/post/" + posts[i].title, class="share-facebook")
                        span(class="icon icon-facebook", aria-hidden="true")
                        span(class="share-title") Share

                      a(target="_blank", href="http://plus.google.com/share?url=http://codelikeninja.ml/post/" + encodeURI(posts[i].title), class="share-google")
                        span(class="icon icon-google", aria-hidden="true")
                        span(class="share-title") +1

                      //a(target="_blank", href="http://plus.google.com/share?url=http://codelikeninja.ml/post/" + encodeURI(posts[i].title), class="share-google")
                        span(class="icon icon-pinterest", aria-hidden="true")
                        span(class="share-title") Pin
                  .post-content
                    span(style="font-size:15px;")= posts[i].desc_short
                    .readmore
                      a(href="/post/"+posts[i].title) Read more &#8599;
                  .tag-body
                    - for(var j=0 ; j< posts[i].tags.length ; j++) {
                      li
                        a(href="/tags/" + posts[i].tags[j] + "/1", class="tag2")= posts[i].tags[j]
                    - };       
        - };

      div(id="pager", class="text-center col-md-12 col-sm-12 col-xs-12")

        script(type="text/javascript", src="/js/jquery.bootpag.min.js")
        script.
          var numb;
          console.log("value of PNUM "+ !{pnum});
          if(!{pnum} == 0){
              numb = !{tnum};
          }else{
            numb = !{pnum};
          }
          $('#pager').bootpag({
            total: !{totPages},
            page : numb,
            maxVisible : 5,
          }).on("page", function(event, num) {
            if(!{pnum} != 0)
              window.location.assign("/home/"+num);
            else
              window.location.assign("/tags/" + if_tag +"/"+num);
          });
    include ./widgets

