extends layout

block content
  .row
    div(class="col-md-8 col-sm-12 col-xs-12 main-container")
      ul(class="flex-container")
        - for(var i=0 ; i< posts.length ; i++) {
            article(class="flex-item col-md-12")
              a(href="/post/"+posts[i].title)
                h2= posts[i].title
              ul(class="list-inline subhead")
                li ⌘ 30 Comments
                li
                  ul(class="list-inline")
                    li
                      img(src="/img/clock.png") 
                    li
                      p JUNE 12, 2015
                li
                  ul(class="list-inline")
                    li
                      img(src="/img/author.png") 
                    li= posts[i].author_name
                li
                  div(class="share")  
                    a(class="twitter-share-button", href="https://twitter.com/intent/tweet?text=Check%20this%20out- " + posts[i].title, data-size="default") Tweet

                    div(class="g-plusone",data-href="https://www.google.co.in", data-annotation="bubble",data-size="medium")

                    div(class="fb-like", data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count", data-action="like", data-show-faces="true", data-share="false", data-width="450", style="width:87px; overflow:hidden; top:-1px; left: 0px;")

                    div(class="fb-share-button", data-href="https://www.google.co.in", data-layout="button_count", style="width:97px; overflow:hidden; top:-1px;")
                  
                  
                                     
              .post-body.col-md-12
                .pic.col-md-4
                .post-content.col-md-8
                  p= posts[i].body
                  .readmore 
                    a(href="/post/"+posts[i].title) Read more ⬈

              .tag-body.col-md-12.list-inline
                p(class="tag-item") Tags :  
                ul(class="tags")
                  - for(var j=0 ; j< posts[i].tags.length ; j++) {
                      li
                        a(href="/tags/" + posts[i].tags[j], class="tag")= posts[i].tags[j]
                  - };    
        - };

        article(class="flex-item col-md-12 col-sm-12 col-xs-12")
          div(class="page-box")
            - var countNext = pageNo;
            - var countPrev = pageNo;
            - countNext++;
            - countPrev--;
            - if(countNext > (totPage/limit)) countNext = Math.ceil(totPage/limit);
            - if(countPrev < 1) countPrev = 1;
  
            h5= "Page " + pageNo + " of "  + Math.ceil(totPage/limit)
            ul(class="list-inline")
              li 
                a(href="/home/" + encodeURIComponent(countPrev)) << 
              li 
                a(id="1", class="page-no", href="/home/1") 1
              li
                a(id="2", class="page-no", href="/home/2") 2
              li
                span(class="extend") ...
              li
                a(id="3", class="page-no", href="/home/3") 3 
              li 
                a(href="/home/" + encodeURIComponent(countNext)) »
            script.
              - document.getElementById(pageNo).setAttribute("class", "page-active");


    div(class="secondary col-md-4 col-sm-12 col-xs-12 aside-container")
      .category
        .heading
          h4 Category
        .list
          ul(class="categories")
            li
              a(href="#", class="cat-list") Graphic Design        
            li
              a(href="#", class="cat-list") Logo Design
            li
              a(href="#", class="cat-list") Functional Programming        
            li
              a(href="#", class="cat-list") UI/UX Design
            li
              a(href="#", class="cat-list") Mobile App Development
            li
              a(href="#", class="cat-list") Web Design  
            li
              a(href="#", class="cat-list") Photography  
            li
              a(href="#", class="cat-list") Front-End Development
            li
              a(href="#", class="cat-list") Back-End Development 


      .connect
        .heading
          h4 Connect With Us
        .social
          a(class="social-btn")
            img(src="/img/social/32x32/32-twitter.png")
          a(class="social-btn")
            img(src="/img/social/32x32/32-facebook.png")
          a(class="social-btn")
            img(src="/img/social/32x32/32-googleplus.png")
          a(class="social-btn")
            img(src="/img/social/32x32/32-rss.png")
          a(class="social-btn")
            img(src="/img/social/32x32/32-youtube.png")

        .subscribe
          div(class="section-inner text-center")  
            h5 Subscribe - We dont spam
              div(class="form-group email-box")
                input(type=text, class="form-control email", id=email, placeholder="Email")
                button(type=submit, class="email-btn", onClick="subscribeButton()") Subscribe

                script.
                  var nodemailer = require('nodemailer');
                  
                  function subscribeButton(){
                    alert("Testing..... 1");

                    var transporter = nodemailer.createTransport({
                      service: 'Gmail',
                      auth: {
                        user: 'ravishetty150@gmail.com',
                        pass: 'nmamitsucks'
                      }
                    });

                    var mailOptions = {
                      from: 'Ravi shetty <ravishetty150@gmail.com>',
                      to: 'dkshthshetty7@gmail.com',
                      subject: 'Hello',
                      text: 'Hello world',
                      html: '<b>Hello world</b>'
                    };

                    transporter.sendMail(mailOptions, function(error, info){
                      if(error){
                        return alert(error);
                      }
                      alert("Email has been sent");
                      console.log('Message sent: ' + info.response);
                    });
                  }

      .facebook
        .heading
          h4 Facebook 
        .plugin          
          div(class="fb-page", data-href="https://www.facebook.com/WWE", data-small-header="false", data-adapt-container-width="true", data-hide-cover="false", data-show-facepile="true", data-show-posts="false")
            div(class="fb-xfbml-parse-ignore")
              blockquote(cite="https://www.facebook.com/WWE")
                a(href="https://www.facebook.com/facebook") WWE         
              
      .tagbox
        .heading
          h4 Tags
        .tags
          ul(class="tags")
            - for(var i=0 ; i< posts.length ; i++) {
                - for(var j=0 ; j< posts[i].tags.length ; j++) {
                    li
                      a(href="/tags/" + posts[i].tags[j], class="tag")= posts[i].tags[j]
                - };
            - };
            li
              a(href="#", class="tag") HTML
            li
              a(href="#", class="tag") Nginx
            li
              a(href="#", class="tag") CSS
            li
              a(href="#", class="tag") Node.js
            li
              a(href="#", class="tag") Express
            li
              a(href="#", class="tag") Java
            li
              a(href="#", class="tag") HTML
            li
              a(href="#", class="tag") Nginx
            li
              a(href="#", class="tag") CSS
            li
              a(href="#", class="tag") Node.js
            li
              a(href="#", class="tag") Express
            li
              a(href="#", class="tag") Java
            li
              a(href="#", class="tag") Android
            li
              a(href="#", class="tag") C/C++            
