include mixins
doctype html
html
  include ./includes/head.jade
  body
    include ./includes/nav.jade
    h1 My Site

    //container for content
    div.container.sections-wrapper
      div.row
        //container for posts
        div.primary.col-md-8.col-sm-12.col-xs-12
          section(class=section)
            h2 Post Title 1
            ul(class=list-inline)
              li 30
              li Comments
              li Deekshith
              li 10th June 2015
            img(height=200,width=200)
            h3 Summary
            p
              | hashasjhasadasdasdasfsfsdadddddddddddddddddddd
              | hashasjhasadasdasdasfsfsdadddddddddddddddddddd
              | hashasjhasadasdasdasfsfsdadddddddddddddddddddd
            a Read More

            section(class=section)
            h2 Post Title 1
            ul(class=list-inline)
              li 20
              li Comments
              li Suraj
              li 10th June 2015
            img(height=200,width=200)
            h3 Summary
            p
              | hashasjhasadasdasdasfsfsdadddddddddddddddddddd
              | hashasjhasadasdasdasfsfsdadddddddddddddddddddd
              | hashasjhasadasdasdasfsfsdadddddddddddddddddddd
            a Read More

        //container for aside contents
        div.secondary.col-md-4.col-sm-12.col-xs-12
          //Subscribe box
          aside.aside.section
            div(class=section-inner)
              img(height=50,width=50)
              h4 Deekshith Shetty
              h6 Udupi
              a https://github.com
              h5 Subscribe - No spamming
              div(class=form-group)
                label(for=usr) Email
                input(type=text,class=form-control,id=usr)
              button(type=button,class=btn btn-success) Subscribe 
              
            //Tag Box
            aside.aside.section
              div(class=section-inner)
                h4 Tags
                button(type=button,class=btn btn-info) MongoDB
                button(type=button,class=btn btn-info) Node.js
                button(type=button,class=btn btn-info) Express
                button(type=button,class=btn btn-info) Android
                button(type=button,class=btn btn-info) Java
                button(type=button,class=btn btn-info) Bootstrap

    include ./includes/footer.jade                
