extends layout

block content
  .row
    div(class="col-md-9 col-sm-12 col-xs-12 main-container")
      ul(class="flex-container")
        - for(var i=0 ; i< posts.length ; i++) {
            article(class="flex-item col-md-12 col-sm-12 col-xs-12")
              a(class="col-md-12 post-title-link" href="/post/"+posts[i].title)
                h2(class="post-title")= posts[i].title
              ul(class="list-inline subhead col-md-12")
                li
                  ul(class="list-inline")
                    li
                      img(src="/img/comment.png") 
                    li= "30 Comments"
                li
                  ul(class="list-inline")
                    li
                      img(src="/img/clock.png") 
                    li
                      p JUNE 12, 2015
                li
                  ul(class="list-inline")
                    li
                      img(src="/img/author.png") 
                    li= posts[i].author_name
              .post-social-icons.col-md-12.subhead
                ul(class="list-inline share")
                    li
                      a(class="twitter-share-button", href="https://twitter.com/intent/tweet?text=Check%20this%20out- " + posts[i].title, data-size="default") Tweet
                    li
                      div(class="g-plusone",data-href="https://www.google.co.in", data-annotation="bubble",data-size="medium")
                    li
                      div(class="fb-share-button", data-href="https://www.google.co.in", data-layout="button_count", style="width:97px; overflow:hidden; top:-1px;")
                  

                  //div(class="share")  
                    a(class="twitter-share-button", href="https://twitter.com/intent/tweet?text=Check%20this%20out- " + posts[i].title, data-size="default") Tweet

                    div(class="g-plusone",data-href="https://www.google.co.in", data-annotation="bubble",data-size="medium")

                    div(class="fb-share-button", data-href="https://www.google.co.in", data-layout="button_count", style="width:97px; overflow:hidden; top:-1px;")
                  
                  
                                     
              .post-body.col-md-12
                .pic.col-md-4
                .post-content.col-md-8
                  span= posts[i].body
                  .readmore 
                    a(href="/post/"+posts[i].title) Read more ⬈
              br
              h4(class="col-md-12") Tagged with :
              .tag-body.tags.col-md-12
                - for(var j=0 ; j< posts[i].tags.length ; j++) {
                  li
                    a(href="/tag/" + posts[i].tags[j], class="tag")= posts[i].tags[j]
                - };       
        - };
        
        article(class="flex-item col-md-12 col-sm-12 col-xs-12")
          - for(var i=0 ; i< totPages ; i++) {
            - var c = i+1;
            ul(class="list-inline")
              li
                a(href="/home/" + encodeURIComponent(c))= c
          -}
              li 
                a(href="/home/" + encodeURIComponent(count)) Next ⬈

        //article(class="flex-item col-md-12 col-sm-12 col-xs-12")
          - var count = pageNo;
          - count++;
          - if(count > (totPage/limit)) count = Math.ceil(totPage/limit);
          h5= "Page " + pageNo + " of "  + Math.ceil(totPage/limit)
          ul(class="list-inline")
            li 
              a(href="/home/1") 1
            li .
            li .
            li
              a(href="/home/3") 3 
            li 
              a(href="/home/" + encodeURIComponent(count)) Next ⬈ 


    div(class="col-md-3 col-sm-12 col-xs-12 aside-container")
      .connect
        .heading
          h4 Connect With Us
        .social-ico
          ul(class="list-inline")
            li
              img(src="/img/twitter.png")
            li
              img(src="/img/google.png")
            li
              img(src="/img/git.png")
            li
              img(src="/img/facebook.png")
            li
              img(src="/img/lin.png")
            li
              img(src="/img/em.png")

        .subscribe
          div(class="section-inner text-center")  
            h5 Subscribe - We dont spam
              div(class="form-group email-box")
                form(action='/contact', name='contactus', id='contactus', method='post')
                  input(type=text, class="form-control email", id=email, placeholder="Email")
                  input(type="submit", class="email-btn", value="Subscribe") 

      .facebook
        .heading
          h4 Find us on Facebook 
        .plugin          
          div(class="fb-page", data-href="https://www.facebook.com/WWE", data-small-header="false", data-adapt-container-width="true", data-hide-cover="false", data-show-facepile="true", data-show-posts="false")
            div(class="fb-xfbml-parse-ignore")
              blockquote(cite="https://www.facebook.com/WWE")
                a(href="https://www.facebook.com/facebook") WWE  

      .category
        .heading
          h4 Category
        .list
          ul(class="categories")
            li
              a(href="#", class="cat-list") Graphic Design        
            li
              a(href="#", class="cat-list") Logo Design
            li
              a(href="#", class="cat-list") Functional Programming        
            li
              a(href="#", class="cat-list") UI/UX Design
            li
              a(href="#", class="cat-list") Mobile App Development
            li
              a(href="#", class="cat-list") Web Design  
            li
              a(href="#", class="cat-list") Photography  
            li
              a(href="#", class="cat-list") Front-End Development
            li
              a(href="#", class="cat-list") Back-End Development        
              
      .tagbox
        .heading
          h4 Tags
        .tags
          ul(class="tags")
            li
              a(href="#", class="tag") HTML
            li
              a(href="#", class="tag") Nginx
            li
              a(href="#", class="tag") CSS
            li
              a(href="#", class="tag") Node.js
            li
              a(href="#", class="tag") Express
            li
              a(href="#", class="tag") Java
            li
              a(href="#", class="tag") HTML
            li
              a(href="#", class="tag") Nginx
            li
              a(href="#", class="tag") CSS
            li
              a(href="#", class="tag") Node.js
            li
              a(href="#", class="tag") Express
            li
              a(href="#", class="tag") Java
            li
              a(href="#", class="tag") Android
            li
              a(href="#", class="tag") C/C++           
