extends layout

block content
  .row
    div(class="col-md-9 col-sm-12 col-xs-12 main-container")
      ul(class="flex-container")
        article(class="flex-item col-md-12")
          h2.main-titles= post_title
          ul(class="list-inline col-md-12")
            li
              ul(class="list-inline")
                li
                  img(src="/img/comment.png") 
                li
                  span(class="disqus-comment-count", data-disqus-url="http://192.168.1.4:8000/post/" + post_title + "#disqus_thread") 0 Comments

                  script.
                    var disqus_shortname = 'annappablogtest';

                    (function () {
                      var s = document.createElement('script'); s.async = true;
                      s.type = 'text/javascript';
                      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                    }());


            li
              ul(class="list-inline")
                li
                  img(src="/img/clock.png") 
                li
                  p JUNE 12, 2015
            li
              ul(class="list-inline")
                li
                  img(src="/img/author.png") 
                li= author_name

          .post-social-icons2
                ul(class="list-inline")
                  li
                    a(class="twitter-share-button", href="https://twitter.com/intent/tweet?text=Check%20this%20out- " + post_title, data-size="default")
                  li
                    div(class="g-plusone",data-href="https://www.google.co.in", data-annotation="bubble",data-size="medium", style="width:70px; overflow:hidden; top:-1px;")
                  li
                    div(class="fb-share-button", data-href="https://www.google.co.in", data-layout="button_count", style="width:auto; overflow:hidden; top:-1px;")

          br
          h4(class="col-md-12") Tagged with :
          .tag-body.tags.col-md-12
            - for(var j=0 ; j< post_tags.length ; j++) {
              li
                a(href="/tags/" + post_tags[j] + "/1", class="tag2")= post_tags[j]
            - };             
          
           script.
            function putPostBody(){
              var dom_target = document.getElementById("thePostBody");
              dom_target.innerHTML = !{post_body};
            }

          .post-body.col-md-12
            .pic2.col-md-12
              img(src="/img/posts_full/default/960x540.jpg")
            .post-content.col-md-12
              div(id="thePostBody", class="editor_article") !{post_body}

              script.
                //putPostBody();
                
              

          

        article(class="flex-item col-md-12 col-sm-12 col-xs-12")
          div(class="disqus", id="disqus_thread")      


    div(class="secondary col-md-3 col-sm-12 col-xs-12 aside-container")
      .connect
        .heading
          h4 Connect With Us
        .social-ico
          ul(class="list-inline")
            li
              img(src="/img/twitter.png")
            li
              img(src="/img/google.png")
            li
              img(src="/img/git.png")
            li
              img(src="/img/facebook.png")
            li
              img(src="/img/lin.png")
            li
              img(src="/img/em.png")

        .subscribe
          div(class="section-inner text-center")  
            h5 Subscribe - We dont spam
              div(class="form-group email-box")
                input(type=text, class="form-control email", id=email, placeholder="Email")
                button(type=submit, class="mycustom-btn") Subscribe
              
      .category
        .heading
          h4 Category
        .list
          ul(class="categories")
            - for(var i=0 ; i< categories.length ; i++) {
                ul(class="list-inline")
                  li
                    a(href="/categories/" + categories[i]._id, class="cat-list")= categories[i]._id
                  li(class="tag-count")= categories[i].count  
            - };         
              
      .tagbox
        .heading
          h4 Tags
        .tags
          ul(class="tags")
            - for(var i=0 ; i< tags.length ; i++) {
                ul(class="list-inline")
                  li
                    a(href="/tags/" + tags[i]._id + "/1", class="tag")= tags[i]._id
                  li(class="tag-count")= tags[i].count   
            - };

      .hotPostsbox
        .heading
          h4 Hot posts
        .hotPosts
          - for(var i=0 ; i< hot_posts.length ; i++) {
              ul(class="hot_links")
                li
                  span ↠
                  a(href="/post/" + hot_posts[i].title, class="hot-post-links")= hot_posts[i].title + " is the best in the world"
          - };       
