extends layout

block content
  .row
    div(class="col-md-9 col-sm-12 col-xs-12 main-container")
      ul(class="flex-container")
        article(class="flex-item col-md-12")
          h2= posts[3].title
          ul(class="list-inline subhead")
            li ⌘ 30 Comments
            li
              ul(class="list-inline")
                li
                  img(src="/img/clock.png") 
                li
                  p JUNE 12, 2015
            li
              ul(class="list-inline")
                li
                  img(src="/img/author.png") 
                li= posts[3].author_name
            li
              a(class="twitter-share-button", href="https://twitter.com/intent/tweet?text=Check%20this%20out- " + posts[3].title, data-size="default") Tweet
            li
              div(class="g-plusone",data-href="https://www.google.co.in", data-annotation="bubble",data-size="medium")
            li
              div(class="fb-like", data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count", data-action="like", data-show-faces="true", data-share="false", data-width="450", style="width:87px; overflow:hidden; top:-1px; left: 0px;")
            li
              div(class="fb-share-button", data-href="https://www.google.co.in", data-layout="button_count", data-width="450", style="width:97px; overflow:hidden; top:-1px; left: 0px;")      

          .tag-body.col-md-12.list-inline
                p(class="tag-item") Tags :  
                ul(class="tags")
                  li
                    a(href="#", class="tag") HTML
                  li
                    a(href="#", class="tag") Nginx
                  li
                    a(href="#", class="tag") All other tags
                                 
          .post-body.col-md-12
            .pic2.col-md-12
            .post-content.col-md-12
              p= posts[3].body

        article(class="flex-item col-md-12 col-sm-12 col-xs-12")
          div(class="disqus", id="disqus_thread")      


    div(class="secondary col-md-3 col-sm-12 col-xs-12 aside-container")
      .connect
        .heading
          h4 Connect With Us
        .social
          a(class="social-btn")
            img(src="/img/social/32x32/32-twitter.png")
          a(class="social-btn")
            img(src="/img/social/32x32/32-facebook.png")
          a(class="social-btn")
            img(src="/img/social/32x32/32-googleplus.png")
          a(class="social-btn")
            img(src="/img/social/32x32/32-rss.png")
          a(class="social-btn")
            img(src="/img/social/32x32/32-youtube.png")

        .subscribe
          div(class="section-inner text-center")  
            h5 Subscribe - We dont spam
              div(class="form-group email-box")
                input(type=text, class="form-control email", id=email, placeholder="Email")
                button(type=submit, class="email-btn2") Subscribe 
              
      .tagbox
        .heading
          h4 Tags
        .tags
          ul(class="tags")
            li
              a(href="#", class="tag") HTML
            li
              a(href="#", class="tag") Nginx
            li
              a(href="#", class="tag") CSS
            li
              a(href="#", class="tag") Node.js
            li
              a(href="#", class="tag") Express
            li
              a(href="#", class="tag") Java
            li
              a(href="#", class="tag") Android
            li
              a(href="#", class="tag") C/C++
            li
              a(href="#", class="tag") HTML
            li
              a(href="#", class="tag") Nginx
            li
              a(href="#", class="tag") CSS
            li
              a(href="#", class="tag") Node.js
            li
              a(href="#", class="tag") Express
            li
              a(href="#", class="tag") Java
            li
              a(href="#", class="tag") Android
            li
              a(href="#", class="tag") C/C++       
