extends layout

block content
  .row
    div(class="col-md-9 col-sm-12 col-xs-12 main-container")
      ul(class="flex-container")
        article(class="flex-item")
          .article_container
            h2.main-titles= post.title
            .sub-info
              img(src="/img/comments.png")
              span(class="disqus-comment-count", data-disqus-url="http://codelikeninja.ml/post/" + post.title + "#disqus_thread") 0 Comments
              img(src="/img/clock.png" class="side-icons")
              span &nbsp#{post.date}

            .sub-info
              p(class="author-info") In&nbsp
                a(href="#") #{post.category}
              p(class="author-info") &nbspby&nbsp&nbsp
                img(src="/img/author.png") 
                a(href="#") &nbsp#{post.author_name}

            //.post-social-icons2
                  ul(class="list-inline")
                    li
                      a(class="twitter-share-button", href="https://twitter.com/intent/tweet?text=Check%20this%20out- " + post.title, data-size="default")
                    li
                      div(class="g-plusone",data-href="https://www.google.co.in", data-annotation="bubble",data-size="medium", style="width:70px; overflow:hidden; top:-1px;")
                    li
                      div(class="fb-share-button", data-href="https://www.google.co.in", data-layout="button_count", style="width:auto; overflow:hidden; top:-1px;")

            .social-container2
              div(class="social-sharing is-large", data-permalink="http://labs.carsonshold.com/social-sharing-buttons/")
                a(target="_blank", href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fcodelikeninja.ml%2Fpost%2F" + "&hashtags=" + post.tags[0] + "," + post.tags[1] + "&text=Check%20this%20out- " + post.title + "&via=codelikeninja", class="share-twitter")

                  span(class="icon icon-twitter", aria-hidden="true")
                  span(class="share-title") Tweet
                  span(class="share-count") 0

                a(target="_blank", href="http://www.facebook.com/sharer.php?u=http://codelikeninja.ml/post/" + post.title, class="share-facebook")
                  span(class="icon icon-facebook", aria-hidden="true")
                  span(class="share-title") Share
                  span(class="share-count") 0

                a(target="_blank", href="http://pinterest.com/pin/create/button/?url=http://labs.carsonshold.com/social-sharing-buttons&amp;media=http://photos-c.ak.instagram.com/hphotos-ak-xfp1/10369404_682591538475746_1724734234_n.jpg&amp;description=Tina%20the%20dachsund" ,class="share-pinterest")
                  span(class="icon icon-pinterest", aria-hidden="true")
                  span(class="share-title") Pin it
                  span(class="share-count") 0 

                a(target="_blank", href="http://plus.google.com/share?url=http://codelikeninja.ml", class="share-google")
                  span(class="icon icon-google", aria-hidden="true")
                  span(class="share-count") +1 

            br
            

            .post-body
              .pic2
                object(data="http://res.cloudinary.com/codejitsu/image/upload/Posts_full/"+ post.title +"/post_full.png", type="image/png")
                      img(src="/img/posts_full/default/960x540.jpg")
              .post-content
                div(id="thePostBody", class="editor_article")
                  div(class="editor_article") !{post.body}

                script.
                  //putPostBody();
            h4(class="col-md-12",style="color:#666;") Tagged with :
            .tag-body.tags.col-md-12
              - for(var j=0 ; j< post.tags.length ; j++) {
                li
                  a(href="/tags/" + post.tags[j] + "/1", class="tag2")= post.tags[j]
              - };             
            
             script.
              function putPostBody(){
                var dom_target = document.getElementById("thePostBody");
                dom_target.innerHTML = !{post.body};
              }
        
        article(class="flex-item col-md-12 col-sm-12 col-xs-12")                 
          h3.main-titles You might also like
          - if(similar_posts.length == 0){
              article(class="flex-item col-md-2 col-sm-5 col-xs-5 grid-element2")
                h6(class="post-title") Sorry no articles found
          - }
          - for(var i=0 ; i< similar_posts.length ; i++) {
              article(class="flex-item col-md-2 col-sm-5 col-xs-5 grid-element2")
                a(class="col-md-12 post-title-link" href="/post/"+ similar_posts[i].title)
                  h6(class="post-title")= similar_posts[i].title
                .post-body.col-md-12
                  .pic
                    img(src="/img/posts_short/default/300x150.jpg")
                  
                ul(class="list-inline subhead col-md-12")
                  li
                    ul(class="list-inline")
                      li
                        img(src="/img/comment.png") 
                      li
                        span(class="disqus-comment-count", data-disqus-url="http://localhost:8000/post/" + similar_posts[i].title + "#disqus_thread") 0 Comments

                        script.
                          var disqus_shortname = 'codelikeninja';

                          (function () {
                            var s = document.createElement('script'); s.async = true;
                            s.type = 'text/javascript';
                            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                          }());
          - };                

        article(class="flex-item col-md-12 col-sm-12 col-xs-12")
          div(class="disqus", id="disqus_thread")    

    include ./widgets