block widget  
  div(class="col-md-3 col-sm-12 col-xs-12 aside-container")
      .connect
        .heading
          h4 Connect With Us
        .social-ico
          ul(class="list-inline")
            li
              a(href="https://twitter.com/codelikeninja", class="social-link", target="_blank")
                img(src="/img/twitter.png")
            li
              a(href="https://plus.google.com/b/115333740549284826302/115333740549284826302/", class="social-link", target="_blank")
                img(src="/img/google.png")
            li
              a(href="https://www.facebook.com/pages/Code-Like-Ninja/849805705099929", class="social-link", target="_blank")
                img(src="/img/facebook.png")
            li
              a(href="https://in.pinterest.com/codelikeninja/", class="social-link", target="_blank")
                img(src="/img/pinterest.png")
            li
              a(href="#", target="_blank")
                img(src="/img/lin.png")
            li
              a(href="#", class="social-link", target="_blank")
                img(src="/img/stumble.png")

      .subscribe
        .heading
          h4 Email Newsletter
        div(class="section-inner text-center")  
          h5 Get the latest news in your inbox. 
        .email-form
          div(class="form-group email-box",id="sub_box")
            input(type=text, class="name-input", id="sub_name" , name="sub_name", placeholder="Enter Your Name")
            input(type=text, class="email-input", id="sub_email" , name="sub_email", placeholder="Email", onchange="checkEmail()")
            input(type="button", class="green-button", value="Subscribe" ,id="subM",spellcheck="false") 

          div(class="alert alert-danger col-md-8 col-sm-12 col-xs-12 incorrect-alert-box", id = "email-alert")
              p Invalid Email-id 

              script.
                function checkEmail(){
                  var sub_email = document.getElementById("sub_email").value;
                  var p = sub_email.search(/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/);
                  if(p == -1){
                    document.getElementById("email-alert").style.display = "block";
                    document.getElementById("sub_email").value="";
                    document.getElementById("sub_email").focus();
                    document.getElementById("sub_email").select();
                    return false;
                  }else{
                    document.getElementById("email-alert").style.display = "none";
                    return true;
                  }
                }         
        script.
          $("#subM").click(function (event) {
            event.preventDefault();
            if (checkEmail() == true){ 
              var searchIDs = $('#sub_email').val();
              console.log("selected::::" + searchIDs);
              $('#sub_box').html('<p>Please Wait</p>');
              $.ajax({
                 url:'/contact',type:'post',
                 data:{sub_email:searchIDs},
                 success:function(response){
                    console.log("Done ajax .. "+response);
                    $('#sub_box').html('<p>Thanks for signing up!</p>');
                }
              });
            }  
          });
          function typografy() {
            var minSize = 10;
            var maxSize = 20;
            var colorise = true;
            var colorArray = ['#446CB3', '#59ABE3', '#3498DB','#3A539B', '#913D88', '#5C97BF'];
            $('.js_typografy').each(function(){
                var size = getRandomInt(minSize, maxSize);
                //size = Math.ceil(size / 10) * 10;
                var j = getRandomInt(0, colorArray.length - 1);
                $(this).css('font-size',size);
                $(this).css('padding-left','3px');
                $(this).css('color',colorArray[j]);
            });
          }
          function getRandomInt(min, max) {
              return Math.floor(Math.random() * (max - min + 1)) + min;
          }
          //$(document).ready(function () {
              //typografy();
          //});

      .facebook
        .heading
          h4 Find us on Facebook 
        .plugin          
          div(class="fb-page", data-href="https://www.facebook.com/pages/Code-Like-Ninja/849805705099929", data-small-header="false", data-adapt-container-width="true", data-hide-cover="false", data-show-facepile="true", data-show-posts="false")
            div(class="fb-xfbml-parse-ignore")
              blockquote(cite="https://www.facebook.com/GameOfThrones")
                a(href="https://www.facebook.com/facebook") 

      .category
        .heading
          h4 Category
        .categories
          - for(var i=0 ; i< categories.length ; i++) {
            .cat-list
              a(href="/categories/" + categories[i]._id + "/1") #{categories[i]._id}  
              a(class="cat-count")= categories[i].count 
              //ul(class="list-inline")
                li
                  a(href="/categories/" + categories[i]._id + "/1", class="cat-list")= categories[i]._id
                li(class="tag-count")= categories[i].count  
          - };         
              
      .tagbox
        .heading
          h4 Tags
        .categories
          //ul(class="tags")
          #links
          - for(var i=0 ; i< tags.length ; i++) {
              a(href="/tags/" + tags[i]._id + "/1" class='js_typografy') #{tags[i]._id}  
              //a(class="cat-count")= tags[i].count
              //ul(class="list-inline")
                li
                  a(href="/tags/" + tags[i]._id + "/1", class="tag")= tags[i]._id
                li(class="tag-count")= tags[i].count   
          - };
          script.
            $(document).ready(function () {
                typografy();
                /*$('.js_typografy').each(function(){
                  var rand =  Math.floor((Math.random()*100)+1);
                  $(this).css('font-size',rand);
                });*/

            });

      .hotPostsbox
        .heading
          h4 Hot posts
        .hotPosts
          - for(var i=0 ; i< hot_posts.length ; i++) {
              ul(class="hot_links")
                li
                  span ↠
                  a(href="/post/" + hot_posts[i].title, class="hot-post-links")= hot_posts[i].title
          - };

      .Adbox
        .heading
          h4 Advertisement
        .AdPosts
          div(class="gooWidget google-ad-square-sidebar showOnlyOnDesktop")
            ins(class="adsbygoogle adslot", style="display:block", data-ad-client="ca-pub-8776668743582988", data-ad-slot="3860484086")

            script.
              sa_client = "491e4e741aa3714122af59e5bb82caa2";
              sa_code = "5efbd25cbc4db6c14c432a4f4ef890b8";
              sa_protocol = ("https:"==document.location.protocol)?"https":"http";
              sa_pline = "0";
              sa_maxads = "4";
              sa_bgcolor = "F1F4F9";
              sa_bordercolor = "3EBEF3";
              sa_superbordercolor = "3EBEF3";
              sa_linkcolor = "001EB5";
              sa_desccolor = "000000";
              sa_urlcolor = "005677";
              sa_b = "0";
              sa_format = "rect_300x250";
              sa_width = "300";
              sa_height = "250";
              sa_location = "0";
              sa_radius = "0";
              sa_borderwidth = "2";
              sa_font = "1";
              document.write(unescape("%3cscript type='text/javascript' src='"+sa_protocol+"://sa.entireweb.com/sense2.js'%3e%3c/script%3e"));
          script.
            (adsbygoogle = window.adsbygoogle || []).push({}); 
            